@font-face {
    font-family: lato-thin;
    src: url('../../fonts/Lato-Thin.ttf');
}

@font-face {
    font-family: lato;
    src: url('../../fonts/Lato-Light.ttf');
}

@font-face {
    font-family: lato-bold;
    src: url('../../fonts/Lato-Bold.ttf');
}

@font-face {
    font-family: lato-x-bold;
    src: url('../../fonts/Lato-Black.ttf');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('../../fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: Roboto-BoldItalic;
    src: url('../../fonts/Roboto-BoldItalic.ttf');
}

@font-face {
    font-family: Roboto-Light;
    src: url('../../fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: Roboto-Regular;
    src: url('../../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: Roboto-Black;
    src: url('../../fonts/Roboto-Black.ttf');
}


@font-face {
    font-family: Product-Sans-Bold-Italic;
    src: url('../../fonts/Product-Sans-Bold-Italic.ttf');
}

@font-face {
    font-family: Product-Sans-Bold;
    src: url('../../fonts/Product-Sans-Bold.ttf');
}

@font-face {
    font-family: Product-Sans-Italic;
    src: url('../../fonts/Product-Sans-Italic.ttf');
}

@font-face {
    font-family: Product-Sans-Regular;
    src: url('../../fonts/Product-Sans-Regular.ttf');
}

@font-face {
    font-family: fa;
    src: url('../../fonts/awesome/fa-brands-400.ttf');
}