* {
    box-sizing: border-box;
}

body {
    font-family: Roboto-Bold, sans-serif;
    margin: 0;
    direction: rtl;
    font: 13px/27px Roboto, RobotoDraft, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.img-container {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}